
#chromeMarkdownEmojiDropdownId {
	overflow: auto;
	z-index: 100;
	position: fixed;
	width: 200px;
	max-height: 150px;
	background-color: rgba(51, 56, 66, 0.95);
	border-radius: 6px;
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	padding: 0px;
	list-style-type: none;
}

@mixin selected {
	background-color: rgb(31, 111, 235);
	color: white;
}

.chromeMarkdownEmojiDropdownOptionClassName {
	padding: 2px 8px 2px 8px;
	cursor: pointer;
	&:hover {
		@include selected;
	}
	border-bottom: 0.5px solid black;
}

.chromeMarkdownEmojiDropdownEmojiSpanClassName {
	padding-right: 4px;
	font-size: large;
	vertical-align: middle;
}

.chromeMarkdownEmojiDropdownKeySpanClassName {
	font-size: medium;
	vertical-align: middle;
}

.chromeMarkdownEmojiPreselectedEmojiClassName {
	@include selected;
}